/* You can add global styles to this file, and also import other style files */

$gutter: 1rem; //for primeflex grid system
@import '@/assets/layout/styles/layout/layout.scss';

/* PrimeVue */
@import 'primevue/resources/primevue.min.css';
@import 'primeflex/primeflex.scss';
@import 'primeicons/primeicons.css';

// @import 'primevue/resources/themes/bootstrap4-light-blue/theme.css'; // Importa el tema de PrimeVue

/* Demos */
@import '@/assets/demo/styles/flags/flags.css';
@import '@/assets/demo/styles/badges.scss';

.layout-main-container {
  padding: 7rem 2rem 2rem 4rem;
}

@media (max-width: 991px) {
  .layout-wrapper {
    .layout-main-container {
      margin-left: 0;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
  }
}
